.first-text{
    font-size: 30px;
    margin-left: 25%;
}

.submit-button{
    margin: 10px 50px 10px 50px;
    /* font-size: 50px;
    padding: 12px 28px;
    border-radius: 2px;
    width: 50%;
    border-radius: 12px; */
}
.submit-button:hover{
    /* background-color: #04AA6D; */
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}